@font-face {
    font-family: "cute font";
    src: url(CuteFont-Regular.otf);
}

body{
    background-color:pink;
    min-height: 100vh;
}

h1{
    text-align: center;
    color: white;
    font-family: "cute font";
    font-size: 80px;
    font-weight: normal;
    text-shadow: -1px 2px 4px black;
}

button{
    text-align: center;
    background-color: white;
    color: rgb(244, 157, 171);
    border-radius: 7px;
    font-family: "cute font";
    font-size: 45px;
    width: 130px;
    height: 55px;
    margin-bottom: 10px;
    margin-top: 10px;
    box-shadow: -1px 3px 4px grey;
}

.move{
    transform: translateY(300px);
}

.contain{
    display: flex;
    flex-direction: column;
    text-align: center;
    position: relative;
    top: 60px;
}
.border{
    padding: 50px;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
@media screen and (max-width: 600px) {
    h1{
        font-size: 110px;
    }

    button{
        font-size: 70px;
        width: 145px;
        height: 70px;
        border-radius: 7px;
    }

    .move{
        transform: translateY(500px);
    }
    

}